<form [formGroup]="newform">
  <label>Name</label>
  <input type="text" formControlName="name" />
  <span style="color:red;" *ngIf="name && name.invalid && name.touched"
    >Name is required</span ><br /><br />
  <label>Age</label>
  <input type="number" formControlName="age" />
  <span style="color:red;" *ngIf="age && age.invalid && age.touched" >Age is required</span
  >
  <span style="color:red;" *ngIf="age.errors?.min">Min age is 18</span>
  <span style="color:red;" *ngIf="age.errors?.max">Max age is 36</span
  ><br /><br />
  <label>Department</label>
  <input type="text" formControlName="dprt" />
  <br /><br />
  <label>Email</label>
  <input type="email" formControlName="mail" />
  <span style="color:red;" *ngIf="mail && mail.invalid && mail.touched"
    >Mail is required</span>
  <br /><br />
  <label>PassWord</label>
  <input type="password" formControlName="pswrd" />
  <span style="color:red;" *ngIf="pswrd && pswrd.invalid && pswrd.touched"
    >Password is required</span >
  <span style="color:red;" *ngIf="pswrd.errors?.minlength">Min 4chracter</span>
</form>
<button (click)="add()">add</button>
<button (click)="update()">update</button>

